@import config

//menu
.menu
  position: fixed
  top: 0
  left: 0
  right: 0
  background: $gradient-dark
.menu-container
  height: 7rem
  display: flex
  justify-content: space-between
  align-items: center
  a
    color: $white
    opacity: 0.8
    text-decoration: none
    margin-right: $gap
    cursor: pointer
    &:hover
      opacity: 1
.menu-draver
  font-size: 4rem

.draver
  background: $gradient-dark
  padding: $gap
  position: fixed
  top: 0
  bottom: 0
  right: -35rem
  width: 30rem
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-size: 4rem

  transition: all 0.5s
  z-index: 111
  a
    display: block
    font-size: 1.8rem
    padding: 15px
    color: $white
    opacity: 0.8
    text-decoration: none
    cursor: pointer
    &:hover
      opacity: 1
.close
  position: absolute
  top: $gap
  right: $gap
  color: $white
  cursor: pointer
  opacity: 0.8
  &:hover
    opacity: 1
@media screen and ( max-width: 600px )
  .menu-email
    display: none

// header
.header
  background: url(../images/dest/bg-header.jpg) -30rem top

.header-container
  height: 100vh
  min-height: 45rem
  display: flex
  justify-content: flex-end
  align-items: center

.header-titles
  max-width: 45rem
  h1
    font-size: 5rem

  p
    margin-bottom: 2rem

@media screen and ( max-width: 800px )
  .header
    background: $gradient-white, url(../images/dest/bg-header.jpg) -30rem top

// services
.services
  text-align: center

.services-items
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr))
  grid-gap: $gap

.services-item
  border: 1px solid $primary
  padding: 3rem
  cursor: pointer
  font-size: 7rem
  color: $primary
  transition: all 0.3s
  h5
    font-size: 2.6rem
  p
    font-size: 1.6rem

@media screen and ( max-width: 400px )
  .services-items
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr))

  // about
.about
  background: $gradient-dark, url(../images/dest/bg-about.jpg) center center / cover no-repeat fixed
  color: $white
  p
    text-align: justify
    column-count: 2
    column-gap: $gap

@media screen and ( max-width: 800px  )
  .about
    p
      column-count: 1

//team
.team-items
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr))
  grid-gap: $gap

.team-item
  padding: $gap
  text-align: center
  box-shadow: 0 0 15px 1px $primary
  transition: all 0.3s
  cursor: pointer
  &:hover
    background: $primary
    color: $white
  h6
    font-size: 1.8rem
    text-transform: capitalize

  img
    width: 100%
    border-radius: 1rem

// contact
.contact
  background: $gradient-dark, url(../images/dest/bg-contact.jpg) center center / cover no-repeat fixed
  color: $white

.contact-items
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr))
  grid-gap: $gap
  img
    max-width: 100%
    cursor: pointer

.contact-item
  a
    font-size: 6rem
    text-decoration: none
    color: $white
    display: flex
    align-items: center
    transition: all 0.3s
    margin-bottom: 5rem
    i
      width: 10rem
    span
      font-size: 2rem
@media screen and ( max-width: 1000px )
  .contact-items
    display: block
  .contact-item
    a
      justify-content: center

// footer
footer
  background: #000
  color: $white
  text-align: center
  padding: $gap 0